<ion-header>
  <ion-toolbar color='primary'>
    <ion-buttons slot="start">
      <ion-back-button defaulHref="/recipes"></ion-back-button>
    </ion-buttons>
    <ion-title>{{loadedRecipe.tittle}}</ion-title>
    <ion-buttons slot="primary">
        <ion-button (click)="onDeleteRecipe()">
          <ion-icon name='trash' slot='icon-only'></ion-icon>
        </ion-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>
    <ion-row>
      <ion-col no-padding> <ion-img [src]='loadedRecipe.imageUrl'></ion-img> </ion-col>
    </ion-row>
    <ion-row>
        <ion-col> <h1 text-center>{{loadedRecipe.tittle}}</h1> </ion-col>
    </ion-row>
    <ion-row>
        <ion-col>
            <ion-list *ngFor="let ingredient of loadedRecipe.ingredients">
              <ion-item>
                <ion-label>{{ingredient}}</ion-label>
              </ion-item>
            </ion-list>
        </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
